$tint: #50C9CE;
$font: 'EB Garamond', Georgia, Times, 'Times New Roman', serif;
// $font: 'garamond-premier-pro', 'Times New Roman', serif;

.logo {
	span {
		color: $tint;
	}
}
.share{
	a:hover {
		&::before {
			color: $tint;
		}
	}	
}
.name {
	.links {
		a:hover {
			background: $tint;
		}
	}
}
.specimen {
	p {
		em {
			color: $tint;
		}
	}
}
.annotation {
	.type {
		color: $tint;
	}
}

.similar {
	h1, h2 {
		color: $tint;
	}
}

.specimen {
	p {
		font-family: $font;/* 
		font-style: italic; */
	}
}

.annotation {
	font-family: $font;/* 
	font-style: italic; */
}
.styles {
	h1, h2, h3, h4, h5, h6, p {
		font-family: $font;/* 
		font-style: italic; */
	}
}
.legibility {
	h1, h2, h3, h4, h5, h6 {
		font-family: $font;/* 
		font-style: italic; */
	}
}