.ty-wrapper {
  perspective-origin: 50%;
  background-color: #fff;
  min-height: 100vh;
}

.ty-modal {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0%;
}

.ty-dialogue {
  background-color: #fff;
  max-width: 640px;
  height: 480px;
  display: flex;
  transform: none;
}

.ty-graphic-wrapper {
  background-color: #121212;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  flex: none;
  width: 240px;
  margin-bottom: 40px;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
}

.ty-text-wrapper {
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.ty-subtitle {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 19px;
}

.ty-title {
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1em;
}

.ty-paragraph {
  margin-bottom: 0;
  font-family: futura-pt, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}

.ty-button {
  color: #000;
  cursor: pointer;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 80px;
  height: 100px;
  padding-top: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;
}

.ty-button:hover {
  color: #fff;
  background-color: #000;
}

.ty-label {
  text-transform: uppercase;
  line-height: 14px;
}

.ty-icon-arrow {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.ty-overlay {
  z-index: -1;
  opacity: 1;
  background-color: #0000004d;
  position: absolute;
  inset: 0%;
}

.ty-background {
  z-index: -1;
  background-color: #000;
  position: absolute;
  inset: 0;
}

.ty-graphic-lottie {
  width: 740px;
  max-width: 740px;
  transition: transform 0.3s ease-in-out;
  display: block;
  position: absolute;
  top: 67px;
  left: -365px;
  transform: rotate(-45deg);
}

.ty-graphic-lottie:hover {
  border-radius: 16px;
  transform: scale(1.1) rotate(-45deg);
}

.ty-title-long {
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  line-height: 1em;
}

.link {
  color: currentColor;
  background-image: linear-gradient(#0000, #0000 84%, #000 84% 88%, #0000 88%);
  text-decoration: none;
}

.ty-graphic-simplytypography {
  width: 240px;
  max-width: 400px;
  transition: transform 0.3s ease-in-out;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ty-graphic-simplytypography:hover {
  border-radius: 16px;
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .ty-modal {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ty-dialogue {
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    top: auto;
    bottom: auto;
  }

  .ty-graphic-wrapper {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: auto;
    height: 200px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .ty-text-wrapper {
    padding-top: 20px;
  }

  .ty-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ty-button {
    position: relative;
  }

  .ty-graphic-lottie {
    width: 100%;
    margin: auto;
    inset: 0%;
    transform: rotate(0);
  }

  .ty-graphic-lottie:hover {
    transform: scale(1.1) rotate(0);
  }

  .ty-graphic-simplytypography {
    width: 100%;
    margin: auto;
    inset: 0%;
    transform: rotate(0);
  }

  .ty-graphic-simplytypography:hover {
    transform: scale(1.1) rotate(0);
  }
}

@media screen and (max-width: 479px) {
  .ty-graphic-wrapper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .ty-paragraph {
    margin-bottom: 20px;
  }

  .ty-graphic-lottie,
  .ty-graphic-simplytypography {
    width: 100%;
  }
}

#w-node-_4e9687b4-afb8-5d5e-fe18-4767447c1d37-82d38ce9 {
  align-self: center;
}

#w-node-_269a2952-2344-2e07-d369-a41dccb6bed2-82d38ce9 {
  justify-self: center;
}

#w-node-_4e9687b4-afb8-5d5e-fe18-4767447c1d37-4a8615ad {
  align-self: center;
}

#w-node-_269a2952-2344-2e07-d369-a41dccb6bed2-4a8615ad {
  justify-self: center;
}
