@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
$orange: #F1B908;
$red: #EF431D;
$blue: #50C9CE;
$dark: #332C21;
$grey: #6A6256;
$light: #D0CAC2;
$white: #FDFCF6;
$opensans: 'Open Sans', sans-serif;
$playfair: 'Playfair Display', serif;
$playfairsc: 'Playfair Display SC', serif;
$easing: cubic-bezier(0.18, 0.57, 0.51, 1);

@keyframes "heart" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
   opacity: 1;
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
   opacity: 0.6;
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
   opacity: 1;
 }

}

@-moz-keyframes heart {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
   opacity: 1;
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.6;
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
   opacity: 1;
 }

}

@-webkit-keyframes "heart" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   opacity: 1;
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.6;
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
   opacity: 1;
 }

}

@-ms-keyframes "heart" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   opacity: 1;
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.6;
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
 }

}


body {
	font-family: $opensans;
	font-weight: normal;
	background-color: $white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "hlig=1";
    -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on, "hlig" on;
    -webkit-font-feature-settings: "kern","liga","dlig","hlig";
    -ms-font-feature-settings: "kern","liga","dlig","hlig";
    font-feature-settings: "kern","liga","dlig","hlig";
	text-rendering: optimizeLegibility;
}
.clr {
	clear: both;
}
a {
	text-decoration: none;
}
.swash {
    font-feature-settings:"swsh" 2; 
    -moz-font-feature-settings:"swsh=2";
    -webkit-font-feature-settings:"swsh" 2;
}
.note {
	font-family: $opensans;
	font-weight: 400;
	color: $grey;
	font-size: 14px;
	line-height: 30px;
}
.logo {
	font-family: $playfairsc;
	font-weight: 900;
	font-style: italic;
	font-size: 24px;
	color: $dark;
	line-height: 60px;
	position: absolute;
	left: 0;
	padding-left: 11px;
	span {
		color: $orange;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 10px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		border: dashed 1px $dark;
		transition: width 0.4s $easing;
	}
	&:hover::before {
		width: 185px;
	}
}
.pagination {
	width: 214px;
	height: 60px;
	margin: 0 auto;
	padding: 15px 0;
	position: relative;
	.prev,
	.next {
		width: 77px;
		height: 30px;
		position: absolute;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 15px;
			left: 20px;
			width: 57px;
			height: 1px;
			background-color: $light;
			transition: all 0.4s ease;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 10.5px;
			left: 20px;
			width: 8px;
			height: 8px;
			border-top: solid 1px $light;
			border-left: solid 1px $light;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition: all 0.4s $easing;
		}
		span {
			color: $dark;		
			font-size: 10px;
			line-height: 30px;
			text-align: right;
			float: right;
			opacity: 0;
			transition: all 0.4s $easing;
		}
		&:hover::before {
			left: 0;
			width: 0px;
			background-color: $dark;
		}
		&:hover::after {
			left: 0;
			border-top: solid 1px $dark;
			border-left: solid 1px $dark;
		}
		&:hover span {
			opacity: 1;
			transition-delay: 0.15s;
		}
	}
	.next {
		right: 0px;
		top: 15px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		span {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);	
		}
	}
	.number {
		font-family: $opensans;
		font-weight: 400;
		font-size: 14px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		margin: 0 auto;
		display: block;
		border-radius: 50%;
		background-color: $dark;
		color: $white;
		cursor: default;
	}
}
.share{
	position: absolute;
	right: 0;
	top: 18px;
	width: 470px;
	text-align: right;
	.vote {
		font-family: $opensans;
		text-align: center;
		font-size: 14px;
		color: $light;
		line-height: 18px;
		position: absolute;
		top: -6px;
		z-index: 99;
		cursor: pointer;
		transition: all 0.4s $easing;
		i {
			position: absolute;
			left: 145px;
			top: -2px;
			width: 40px;
			height: 40px;
			opacity: 0;
			transform: scale(0.1, 0.1);
			transform-origin: center center;
			transition: all 0.6s $easing;
		}
		i::after {
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			font-family: 'icomoon';
			font-style: normal;
			content: "\e60c";
			color: $red;
			font-size: 40px;
			line-height: 40px;
			transform-origin: center center;
		}
		&:hover {
			color: $grey;
		}
		&:hover i {
			transform: scale(1, 1);
			opacity: 0.9;
			&::after {
				-webkit-animation: heart 1s linear 0.4s infinite both;
				-moz-animation: heart 1s linear 0.4s infinite both;
				-ms-animation: heart 1s linear 0.4s infinite both;
				animation: heart 1s linear 0.4s infinite both;
			}
		}
	}
	a {
		width: 24px;
		margin-left: 6px;
		&::before {
			font-size: 24px;
			font-family: 'icomoon';
			color: $light;
			transition: all 0.4s $easing;
		}
	}
	a:hover {
		&::before {
			color: $orange;
		}
	}		
	.newsletter {
		&::before {
			font-size: 26px;
			content: "\e605";
		}
	}
	.github {
		&::before {
			font-size: 26px;
			content: "\e603";
		}
	}
	.twitter {
		&::before {
			content: "\e602";
		}
	}
}
header {
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}
main {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.name {
	width: 570px;
	border-top: dashed 1px $light;
	border-bottom: dashed 1px $light;
	float: left;
	position: relative;
	.links {
		position: absolute;
		right: 0;
		top: 7px;
		a {
			background: $light;
			border-radius: 40px;
			font-family: $opensans;
			font-weight: 700;
			font-size: 11px;
			color: $white;
			line-height: 15px;
			text-transform: uppercase;
			padding: 1px 10px;
			transition: all 0.4s $easing;
		}
		a:hover {
			background: $orange;
		}
	}
	h1 {
		font-family: $playfair;
		font-weight: 400;
		font-size: 60px;
		color: $dark;
		line-height: 66px;
		margin-top: 24px;
	}
	p {
		font-family: $opensans;
		font-weight: 400;
		font-size: 14px;
		margin-top: 12px;
		margin-bottom: 13px;
		color: $dark;
		line-height: 24px;
		span {
			margin-right: 12px;
		}
		span::before {
			font-weight: 700;
		}
	}
	.designer::before {
		content: 'Designer: ';
	}
	.foundry::before {
		content: 'Foundry: ';
	}
	.origin::before {
		content: 'Country of origin: ';
	}
	.year::before {
		content: 'Release year: ';
	}
	.classification::before {
		content: 'Classification: ';
	}
}
.specimen {
	width: 570px;
	height: 163px;
	// border-bottom: dashed 1px $light;
	border-top: dashed 1px $light;
	float: right;
	position: relative;

	&::after {
		content: 'Distinctive glyphs';
		display: block;
		position: absolute;
		right: 0;
		bottom: -9px;
		font-family: $opensans;
		font-weight: 700;
		font-size: 14px;
		color: $light;
		line-height: 24px;
		background-color: $white;
		padding-left: 4px;
	}
	p {
		font-family: Georgia;
		font-size: 28px;
		color: $dark;
		line-height: 45px;
		margin-top: 4px;
		em {
			color: $orange;
		}
	}
	.fontName {
		margin-top: 8px;
		font-family: $opensans;
		font-weight: 700;
		font-size: 14px;
		color: $light;
		line-height: 24px;
		display: none;
	}
}
.annotation {
	font-family: Georgia;
	width: 100%;
	padding: 30px 0;
	clear: both;
	.type {
		width: 1200px;
		height: 390px;
		text-align: center;
		font-size: 200px;
		color: $orange;
		line-height: 390px;
		position: relative;
	}
	.note {
		position: absolute;
		top: 0;
		border-left: dashed 1px $dark;
		font-family: $opensans;
		font-size: 14px;
		text-align: left;
		color: $dark;
		line-height: 18px;
		width: 150px;
		padding: 0 0 0 10px;
		&::after {
			content: '';
			width: 40px;
			height: 40px;
			border: dashed 1px $dark;
			border-radius: 20px;
			display: block;
			position: absolute;
			top: auto;
			bottom: -42px;
			left: -21px;
			right: auto;
		}
	}
	.note.medium {
		&::after {
			width: 60px;
			height: 60px;
			border-radius: 30px;
			bottom: -62px;
			left: -31px;
			right: auto;
		}
		&.left {
			&::after {
				top: auto;
				bottom: -62px;
				left: auto;
				right: -31px;
			}
		}
		&.bottom {
			&::after {
				top: -62px;
				bottom: auto;
				left: -31px;
				right: auto;
			}
		}
		&.bottom.left {
			&::after {
				top: -62px;
				bottom: auto;
				left: auto;
				right: -31px;
			}
		}
	}
	.note.large {
		&::after {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			bottom: -82px;
			left: -41px;
			right: auto;
		}
		&.left {
			&::after {
				top: auto;
				bottom: -82px;
				left: auto;
				right: -41px;
			}
		}
		&.bottom {
			&::after {
				top: -82px;
				bottom: auto;
				left: -41px;
				right: auto;
			}
		}
		&.bottom.left {
			&::after {
				top: -82px;
				bottom: auto;
				left: auto;
				right: -41px;
			}
		}
	}
	.note.left {
		border-left: none;
		border-right: dashed 1px $dark;
		text-align: right;
		padding: 0 10px 0 0;
		&::after {
			top: auto;
			bottom: -42px;
			left: auto;
			right: -21px;
		}
	}
	.note.bottom {
		bottom: 0;
		top: auto;
		span {
			width: 150px;
			position: absolute;
			bottom: 0;
		}
		&::after {
			top: -42px;
			bottom: auto;
			left: -21px;
			right: auto;
		}
	}
	.note.bottom.left {
		text-align: right;
		span {
			left: 0;
		}
		&::after {
			top: -42px;
			bottom: auto;
			left: auto;
			right: -21px;
		}
	}
	.line {
		position: absolute;
		top: 0;
		bottom: auto;
		border-left: dashed 1px $dark;
		font-family: $opensans;
		font-size: 14px;
		text-align: left;
		color: $dark;
		line-height: 18px;
		width: 144px;
		padding: 0 0 0 10px;
		i {
			width: 150px;
			height: 0;
			border-top: dashed 1px $dark;
			display: block;
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			right: auto;
			-webkit-transform-origin: left top;
			transform-origin: left top;
			-webkit-transform: rotate(80deg);
			transform: rotate(80deg);
		}
	}
	.line.bottom {
		bottom: 0;
		top: auto;
		span {
			position: absolute;
			top: auto;
			bottom: 0;
		}
		i {
		  bottom: auto;
		  top: 0;
		  left: -1px;
		}

	}
	.frame {
		position: absolute;
		top: 0;
		bottom: auto;
		border-left: dashed 1px $dark;
		font-family: $opensans;
		font-size: 14px;
		text-align: left;
		color: $dark;
		line-height: 18px;
		width: 150px;
		padding: 0 0 0 10px;
		span {
			width: 150px;
			position: absolute;
			top: 0;
			bottom: auto;
		}
		i {
			display: block;
			position: absolute;
			border-top: dashed 1px $dark;
			width: 160px;
			left: -80px;
			right: auto;
			bottom: 0;
			top: auto;
		}
	}
	.frame.left {
		border-left: none;
		border-right: dashed 1px $dark;
		text-align: right;
		padding: 0 10px 0 0;
		text-align: right;
		span {
			left: 0;
		}
		i {
			left: auto;
			right: -80px;
		}
	}
	.frame.bottom {
		bottom: 0;
		top: auto;
		span {
			top: auto;
			bottom: 0;
		}
		i {
			top:  0;
			bottom: auto;
		}
	}
}
.styles {
	width: 420px;
	margin-right: 40px;
	position: relative;
	img {
		position: absolute;
	}
	&::before { 
		content: 'Weights and Styles';
		margin-bottom: 10px;
	}
	h1, h2, h3, h4, h5, h6, p, div {
		font-family: Georgia;
		font-size: 16px;
		line-height: 30px;
		position: relative;
	}
	*::after {
		font-family: $opensans;
		font-weight: 700;
		font-size: 15px;
		line-height: 30px;
		color: #D0CAC2;
		position: absolute;
		right: 4px;
		top: 0;
	}
	i {
		font-style: italic;
		width: 100%;
		display: block;
	}
	i::after {
		content: 'i';
		font-style: normal;
		right: 0;
	}
	h1 {
		font-weight: 900;
		&::after {
			content: '900';
		}
	}
	.f900 {
		font-weight: 900;
		&::after {
			content: '900';
		}
	}
	.f800 {
		font-weight: 800;
		&::after {
			content: '800';
		}
	}
	h2 {
		font-weight: 700;
		&::after {
			content: '700';
		}
	}
	.f700 {
		font-weight: 700;
		&::after {
			content: '700';
		}
	}
	h3 {
		font-weight: 600;
		&::after {
			content: '600';
		}
	}
	.f600 {
		font-weight: 600;
		&::after {
			content: '600';
		}
	}
	h4 {
		font-weight: 500;
		&::after {
			content: '500';
		}
	}
	.f500 {
		font-weight: 500;
		&::after {
			content: '500';
		}
	}
	h5 {
		font-weight: 400;
		&::after {
			content: '400';
		}
	}
	.f400 {
		font-weight: 400;
		&::after {
			content: '400';
		}
	}
	h6 {
		font-weight: 300;
		&::after {
			content: '300';
		}
	}
	.f300 {
		font-weight: 300;
		&::after {
			content: '300';
		}
	}
	.f200 {
		font-weight: 200;
		&::after {
			content: '200';
		}
	}
	.f100 {
		font-weight: 100;
		&::after {
			content: '100';
		}
	}
	p {
		font-weight: 100;
		&::after {
			content: '100';
		}
	}
}
.legibility {
	width: 420px;
	margin-right: 40px;
	position: relative;
	img {
		position: absolute;
		width: 367px;
	}
	&::before { 
		content: 'Legibility';
		margin-bottom: 10px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Georgia;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		position: relative;
		&::after {
			font-weight: 700;
			line-height: 30px;
			color: $light;
			position: absolute;
			right: 0;
			top: 0;
			font-family: $opensans;
			font-size: 15px;
		}
	}
	h1 {
		font-size: 16px;
		&::after {
			content: '16px';
		}
	}
	h2 {
		font-size: 14px;
		&::after {
			content: '14px';
		}
	}
	h3 {
		font-size: 12px;
		&::after {
			content: '12px';
		}
	}
	h4 {
		font-size: 10px;
		&::after {
			content: '10px';
		}
	}
	h5 {
		font-size: 9px;
		&::after {
			content: '9px';
		}
	}
	h6 {
		font-size: 8px;
		&::after {
			content: '8px';
		}
	}
}
.similar {
	width: 280px;
	&::before { 
		content: 'Similar Typefaces';
	}
	h1, h2 {
		font-size: 48px;
		font-weight: 400;
		color: $orange;
		line-height: 54px;
		position: relative;
		padding: 16px 0;
		span {
			font-family: $opensans;
			font-weight: 700;
			font-size: 14px;
			color: $light;
			line-height: 16px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.styles, .legibility, .similar {
	float: left;
	&::before {
		display: block;
		font-family: $opensans;
		font-size: 28px;
		color: $light;
		line-height: 36px;
		padding-bottom: 6px;
		border-bottom: dashed 1px $light;
	}
}
