<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Type Detail -- Wenting Zhang's 100 days project</title>
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400|Playfair+Display+SC:900italic|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/56817/typedetail/style.css?h4l51b">
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
	<link type="text/css" rel="stylesheet" href="css/template.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("947496886");
    </script>
</head>
<body>
	<header>
		<a href="/" class="logo">
			<span>T</span>ype Detail
		</a>
		<div class="pagination">
			<a href="georgia.html" class="prev">
				<span>or press left</span>
			</a>
			<span class="number">2</span>
			<!-- <a href="eb-garamond.html" class="next">
				<span>or press right</span>
			</a> -->
		</div>
		<div class="share">
			<div class="vote">
				Me and my project are nominated for Net Awards.<br>
				If you enjoy Type Detail, I would love your support!
				<i></i>
			</div>
			<a href="http://eepurl.com/bowzQn" class="newsletter" target="_blank" alt="newsletter"></a>
			<a href="https://github.com/wentin/typedetail" class="github" target="_blank" alt="github"></a>
			<a href="https://twitter.com/intent/tweet?via=DesignJokes&hashtags=The100DayProject&url=http://typedetail.com/template.html" class="twitter" target="_blank" alt="twitter"></a>
		</div>
	</header>
	<main>
		<div class="name">
			<div class="links">
				<!-- <a href="#" target="_blank">typekit</a> -->
				<a href="https://www.google.com/fonts/specimen/EB+Garamond" target="_blank">google</a>
				<a href="http://brick.im/fonts/ebgaramond/" target="_blank">brick</a>
			</div>
			<h1>EB Garamond</h1>
			<p>
				<span class="designer">Georg Duffner</span>
				<span class="foundry">Microsoft</span>
				<span class="origin">France</span><br>
				<span class="year">2011 (1592)</span>
				<span class="classification">Old Style Serif</span>
			</p>
		</div>
		<div class="specimen">
			<p>
				ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
				abcdefghijklmnopqrstuvwxyz  №1234567890<br>
				½ ¾ [“”.,;?] (¶$£&~*) {ÁČÇÜáčçű}
			</p>
		</div>
		<div class="annotation">
			<div class="type" style="font-size: 200px;">Macrophages
				<!-- <div class="note large bottom" style="
  left: 167px;
  height: 102px;
					">
					<span>Beautiful ornament lines mimic lighting effects</span>
				</div>
				<div class="note bottom medium" style="	
  left: 595px;
  height: 156px;
					">
					<span>Large heavy ball terminal</span>
				</div>
				<div class="note bottom" style="
  left: 853px;
  height: 98px;
					">
					<span>Short hairline serif with a small hint of bracket</span>
				</div>
				<div class="note medium" style="
  left: 712px;
  height: 157px;
					">
					<span>Angled top terminal</span>
				</div>
				<div class="note left" style="
  left: 976px;
  height: 172px;
					">
					<span>Triangle serif, upper serif is smaller than bottom serif</span>
				</div>
				<div class="note large left" style="
  left: 185px;
  height: 124px;
					">
					Prominent curved bracket connecting stem and bar
				</div>
				<div class="note medium bottom" style="
  left: 368px;
  height: 102px;
					">
					<span>Long hairline tail curves upwards</span>
				</div>
				
				<div class="line" style="
  left: 453px;
  height: 146px;
					">
					Extremely high stroke-contrast, straight stress-angle
					<i style="
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
					"></i>
				</div>

				<div class="frame" style="
  left: 4px;
  height: 125px;
					">
					<span>Large x-height, make it legible even in small size</span>
					<i></i>
					<i style="top: -102px;"></i>
					<i style="top: -133px"></i>
				</div>
				<div class="frame left" style="
  left: 384px;
  height: 125px;
					">
					<span>Large x-height, make it legible even in small size</span>
					<i></i>
					<i style="top: -102px;"></i>
					<i style="top: -133px"></i>
				</div>
				<div class="frame bottom" style="
  left: 984px;
  height: 125px;
					">
					<span>Large x-height, make it legible even in small size</span>
					<i></i>
					<i style="top: -102px;"></i>
					<i style="top: -133px"></i>
				</div> -->
			</div>
		</div>
		<div class="styles">
			<div class="f900">The quick brown fox jumps over the lazy dog</div>
			<div class="f700">The quick brown fox jumps over the lazy dog</div>
			<div class="f600">The quick brown fox jumps over the lazy dog</div>
			<div class="f500">The quick brown fox jumps over the lazy dog</div>
			<div class="f400">The quick brown fox jumps over the lazy dog</div>
			<div class="f300">The quick brown fox jumps over the lazy dog</div>
			<div class="f100">The quick brown fox jumps over the lazy dog</div>
			<div class="f900"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f700"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f600"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f500"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f400"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f300"><i>The quick brown fox jumps over the lazy dog</i></div>
			<div class="f100"><i>The quick brown fox jumps over the lazy dog</i></div>
		</div>
		<div class="legibility">
			<h1>The quick brown fox jumps over the lazy dog</h1>
			<h2>The quick brown fox jumps over the lazy dog</h2>
			<h3>The quick brown fox jumps over the lazy dog</h3>
			<h4>The quick brown fox jumps over the lazy dog</h4>
			<h5>The quick brown fox jumps over the lazy dog</h5>
			<h6>The quick brown fox jumps over the lazy dog</h6>
		</div>
		<div class="similar">
			<h1 style="font-family: Baskerville,'Times New Roman',serif">
				Macrophages
				<span>Baskerville</span>
			</h1>
			<h2 style="font-family: 'Times New Roman',serif">
				Macrophages
				<span>Times New Roman</span>
			</h2>
		</div>
		<div class="clr"></div>
	</main>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-63072645-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>